<h1>{{score}}</h1>
<h1>{{finalScore}}</h1>
<div id="options" *ngIf="!opponent">
  <select #difficultyInput>
    <option value="beginner">beginner</option>
    <option value="intermediate">intermediate</option>
    <option value="expert">expert</option>
  </select>
  <button (click)="createBoard(difficultyInput.value)">Play</button>
</div>
<div id="options" *ngIf="opponent">
  <h3>Your target score is {{opponent.finalScore}} on {{opponent.difficulty}} difficulty, set by {{opponent.initials}}</h3>
</div>
<div id="game">
  <table id="gameTable">
    <tbody>
      <tr *ngFor="let row of rows">
        <td (click)="checkTile(col)" [class]="col.class" (contextmenu)="markTile($event, col)" *ngFor="let col of row"></td>
      </tr>
    <tbody>
  </table>
  <h3>Number of bombs: {{markedBombs}}</h3>
  <div [class]="end">
      <h2>Sorry you lose, would you like to play again?</h2>
      <button (click)="createBoard(difficultyInput.value)">Play again</button>
  </div>
  <div *ngIf="win">
    <h1>You Win!</h1>
  </div>


  <app-new-score [finalScore]="finalScore" [difficulty]="difficulty" [gameOver]="ifGameOver()" (newScore)="saveScore($event)"></app-new-score>
</div>
