/* You can add global styles to this file, and also import other style files */
body {
  font-weight: bold;
}
table{
  border: 1px solid lightgrey;
}

tr {
  border: 1px solid grey;
  height:12px;
  min-height:12px;
}

td {
  border: 1px solid black;
  width:20px;
  height:20px;
  min-width:20px;
  min-height:20px;
}

.grey {
  background-image: url("http://www.freeminesweeper.org/images/blank.gif");
  background-size: 100% 100%;
}

.bomb {
  background-image: url("http://www.freeminesweeper.org/images/bombrevealed.gif");
  background-size: 100% 100%;
}

.question {
  background-image: url("http://www.freeminesweeper.org/images/bombquestion.gif");
  background-size: 100% 100%;
}

.marked {
  background-image: url("http://www.freeminesweeper.org/images/bombflagged.gif");
  background-size: 100% 100%;
}

.one {
  background-image: url("http://www.freeminesweeper.org/images/open1.gif");
  background-size: 100% 100%;
}

.two {
  background-image: url("http://www.freeminesweeper.org/images/open2.gif");
  background-size: 100% 100%;
}

.three {
  background-image: url("http://www.freeminesweeper.org/images/open3.gif");
  background-size: 100% 100%;
}

.four {
  background-image: url("http://www.freeminesweeper.org/images/open4.gif");
  background-size: 100% 100%;
}

.five {
  background-image: url("http://www.freeminesweeper.org/images/open5.gif");
  background-size: 100% 100%;
}

.six {
  background-image: url("http://www.freeminesweeper.org/images/open6.gif");
  background-size: 100% 100%;
}

.seven {
  background-image: url("http://www.freeminesweeper.org/images/open7.gif");
  background-size: 100% 100%;
}

.eight {
  background-image: url("http://www.freeminesweeper.org/images/open8.gif");
  background-size: 100% 100%;
}

.notOver {
  display: none;
}
